[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://docs.getvivid.dev/guides/basic-usage
Icon=ublue-docs
Name=Documentation
Comment=Vivid documentation
Categories=Utility;
